/*----------------------------------------------*\
                      OTROS
\*----------------------------------------------*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bold {
  font-weight: bold; }

.paddy-top-10 {
  padding-top: 10px !important; }

.paddy-bottom-10 {
  padding-bottom: 10px !important; }

.paddy-h-10 {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.paddy-v-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.margy-top-10 {
  margin-top: 10px !important; }

.margy-bottom-10 {
  margin-bottom: 10px !important; }

.margy-h-10 {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.margy-v-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.paddy-10 {
  padding: 10px !important; }

.margy-10 {
  margin: 10px !important; }

.paddy-top-20 {
  padding-top: 20px !important; }

.paddy-bottom-20 {
  padding-bottom: 20px !important; }

.paddy-h-20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.paddy-v-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.margy-top-20 {
  margin-top: 20px !important; }

.margy-bottom-20 {
  margin-bottom: 20px !important; }

.margy-h-20 {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.margy-v-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.paddy-20 {
  padding: 20px !important; }

.margy-20 {
  margin: 20px !important; }

.paddy-top-30 {
  padding-top: 30px !important; }

.paddy-bottom-30 {
  padding-bottom: 30px !important; }

.paddy-h-30 {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.paddy-v-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.margy-top-30 {
  margin-top: 30px !important; }

.margy-bottom-30 {
  margin-bottom: 30px !important; }

.margy-h-30 {
  margin-left: 30px !important;
  margin-right: 30px !important; }

.margy-v-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.paddy-30 {
  padding: 30px !important; }

.margy-30 {
  margin: 30px !important; }

.paddy-top-40 {
  padding-top: 40px !important; }

.paddy-bottom-40 {
  padding-bottom: 40px !important; }

.paddy-h-40 {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.paddy-v-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.margy-top-40 {
  margin-top: 40px !important; }

.margy-bottom-40 {
  margin-bottom: 40px !important; }

.margy-h-40 {
  margin-left: 40px !important;
  margin-right: 40px !important; }

.margy-v-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.paddy-40 {
  padding: 40px !important; }

.margy-40 {
  margin: 40px !important; }

.paddy-top-50 {
  padding-top: 50px !important; }

.paddy-bottom-50 {
  padding-bottom: 50px !important; }

.paddy-h-50 {
  padding-left: 50px !important;
  padding-right: 50px !important; }

.paddy-v-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.margy-top-50 {
  margin-top: 50px !important; }

.margy-bottom-50 {
  margin-bottom: 50px !important; }

.margy-h-50 {
  margin-left: 50px !important;
  margin-right: 50px !important; }

.margy-v-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.paddy-50 {
  padding: 50px !important; }

.margy-50 {
  margin: 50px !important; }

.paddy-top-60 {
  padding-top: 60px !important; }

.paddy-bottom-60 {
  padding-bottom: 60px !important; }

.paddy-h-60 {
  padding-left: 60px !important;
  padding-right: 60px !important; }

.paddy-v-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important; }

.margy-top-60 {
  margin-top: 60px !important; }

.margy-bottom-60 {
  margin-bottom: 60px !important; }

.margy-h-60 {
  margin-left: 60px !important;
  margin-right: 60px !important; }

.margy-v-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }

.paddy-60 {
  padding: 60px !important; }

.margy-60 {
  margin: 60px !important; }

.paddy-top-70 {
  padding-top: 70px !important; }

.paddy-bottom-70 {
  padding-bottom: 70px !important; }

.paddy-h-70 {
  padding-left: 70px !important;
  padding-right: 70px !important; }

.paddy-v-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important; }

.margy-top-70 {
  margin-top: 70px !important; }

.margy-bottom-70 {
  margin-bottom: 70px !important; }

.margy-h-70 {
  margin-left: 70px !important;
  margin-right: 70px !important; }

.margy-v-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important; }

.paddy-70 {
  padding: 70px !important; }

.margy-70 {
  margin: 70px !important; }

.paddy-top-80 {
  padding-top: 80px !important; }

.paddy-bottom-80 {
  padding-bottom: 80px !important; }

.paddy-h-80 {
  padding-left: 80px !important;
  padding-right: 80px !important; }

.paddy-v-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important; }

.margy-top-80 {
  margin-top: 80px !important; }

.margy-bottom-80 {
  margin-bottom: 80px !important; }

.margy-h-80 {
  margin-left: 80px !important;
  margin-right: 80px !important; }

.margy-v-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important; }

.paddy-80 {
  padding: 80px !important; }

.margy-80 {
  margin: 80px !important; }

.paddy-top-90 {
  padding-top: 90px !important; }

.paddy-bottom-90 {
  padding-bottom: 90px !important; }

.paddy-h-90 {
  padding-left: 90px !important;
  padding-right: 90px !important; }

.paddy-v-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important; }

.margy-top-90 {
  margin-top: 90px !important; }

.margy-bottom-90 {
  margin-bottom: 90px !important; }

.margy-h-90 {
  margin-left: 90px !important;
  margin-right: 90px !important; }

.margy-v-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important; }

.paddy-90 {
  padding: 90px !important; }

.margy-90 {
  margin: 90px !important; }

.paddy-top-100 {
  padding-top: 100px !important; }

.paddy-bottom-100 {
  padding-bottom: 100px !important; }

.paddy-h-100 {
  padding-left: 100px !important;
  padding-right: 100px !important; }

.paddy-v-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }

.margy-top-100 {
  margin-top: 100px !important; }

.margy-bottom-100 {
  margin-bottom: 100px !important; }

.margy-h-100 {
  margin-left: 100px !important;
  margin-right: 100px !important; }

.margy-v-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important; }

.paddy-100 {
  padding: 100px !important; }

.margy-100 {
  margin: 100px !important; }

.paddy-top-110 {
  padding-top: 110px !important; }

.paddy-bottom-110 {
  padding-bottom: 110px !important; }

.paddy-h-110 {
  padding-left: 110px !important;
  padding-right: 110px !important; }

.paddy-v-110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important; }

.margy-top-110 {
  margin-top: 110px !important; }

.margy-bottom-110 {
  margin-bottom: 110px !important; }

.margy-h-110 {
  margin-left: 110px !important;
  margin-right: 110px !important; }

.margy-v-110 {
  margin-top: 110px !important;
  margin-bottom: 110px !important; }

.paddy-110 {
  padding: 110px !important; }

.margy-110 {
  margin: 110px !important; }

.paddy-top-120 {
  padding-top: 120px !important; }

.paddy-bottom-120 {
  padding-bottom: 120px !important; }

.paddy-h-120 {
  padding-left: 120px !important;
  padding-right: 120px !important; }

.paddy-v-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important; }

.margy-top-120 {
  margin-top: 120px !important; }

.margy-bottom-120 {
  margin-bottom: 120px !important; }

.margy-h-120 {
  margin-left: 120px !important;
  margin-right: 120px !important; }

.margy-v-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important; }

.paddy-120 {
  padding: 120px !important; }

.margy-120 {
  margin: 120px !important; }

.paddy-top-130 {
  padding-top: 130px !important; }

.paddy-bottom-130 {
  padding-bottom: 130px !important; }

.paddy-h-130 {
  padding-left: 130px !important;
  padding-right: 130px !important; }

.paddy-v-130 {
  padding-top: 130px !important;
  padding-bottom: 130px !important; }

.margy-top-130 {
  margin-top: 130px !important; }

.margy-bottom-130 {
  margin-bottom: 130px !important; }

.margy-h-130 {
  margin-left: 130px !important;
  margin-right: 130px !important; }

.margy-v-130 {
  margin-top: 130px !important;
  margin-bottom: 130px !important; }

.paddy-130 {
  padding: 130px !important; }

.margy-130 {
  margin: 130px !important; }

.paddy-top-140 {
  padding-top: 140px !important; }

.paddy-bottom-140 {
  padding-bottom: 140px !important; }

.paddy-h-140 {
  padding-left: 140px !important;
  padding-right: 140px !important; }

.paddy-v-140 {
  padding-top: 140px !important;
  padding-bottom: 140px !important; }

.margy-top-140 {
  margin-top: 140px !important; }

.margy-bottom-140 {
  margin-bottom: 140px !important; }

.margy-h-140 {
  margin-left: 140px !important;
  margin-right: 140px !important; }

.margy-v-140 {
  margin-top: 140px !important;
  margin-bottom: 140px !important; }

.paddy-140 {
  padding: 140px !important; }

.margy-140 {
  margin: 140px !important; }

.paddy-top-150 {
  padding-top: 150px !important; }

.paddy-bottom-150 {
  padding-bottom: 150px !important; }

.paddy-h-150 {
  padding-left: 150px !important;
  padding-right: 150px !important; }

.paddy-v-150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important; }

.margy-top-150 {
  margin-top: 150px !important; }

.margy-bottom-150 {
  margin-bottom: 150px !important; }

.margy-h-150 {
  margin-left: 150px !important;
  margin-right: 150px !important; }

.margy-v-150 {
  margin-top: 150px !important;
  margin-bottom: 150px !important; }

.paddy-150 {
  padding: 150px !important; }

.margy-150 {
  margin: 150px !important; }

.paddy-top-1 {
  padding-top: 1px !important; }

.paddy-bottom-1 {
  padding-bottom: 1px !important; }

.paddy-h-1 {
  padding-left: 1px !important;
  padding-right: 1px !important; }

.paddy-v-1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important; }

.margy-top-1 {
  margin-top: 1px !important; }

.margy-bottom-1 {
  margin-bottom: 1px !important; }

.margy-h-1 {
  margin-left: 1px !important;
  margin-right: 1px !important; }

.margy-v-1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important; }

.paddy-1 {
  padding: 1px !important; }

.margy-1 {
  margin: 1px !important; }

.paddy-top-2 {
  padding-top: 2px !important; }

.paddy-bottom-2 {
  padding-bottom: 2px !important; }

.paddy-h-2 {
  padding-left: 2px !important;
  padding-right: 2px !important; }

.paddy-v-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important; }

.margy-top-2 {
  margin-top: 2px !important; }

.margy-bottom-2 {
  margin-bottom: 2px !important; }

.margy-h-2 {
  margin-left: 2px !important;
  margin-right: 2px !important; }

.margy-v-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important; }

.paddy-2 {
  padding: 2px !important; }

.margy-2 {
  margin: 2px !important; }

.paddy-top-3 {
  padding-top: 3px !important; }

.paddy-bottom-3 {
  padding-bottom: 3px !important; }

.paddy-h-3 {
  padding-left: 3px !important;
  padding-right: 3px !important; }

.paddy-v-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important; }

.margy-top-3 {
  margin-top: 3px !important; }

.margy-bottom-3 {
  margin-bottom: 3px !important; }

.margy-h-3 {
  margin-left: 3px !important;
  margin-right: 3px !important; }

.margy-v-3 {
  margin-top: 3px !important;
  margin-bottom: 3px !important; }

.paddy-3 {
  padding: 3px !important; }

.margy-3 {
  margin: 3px !important; }

.paddy-top-4 {
  padding-top: 4px !important; }

.paddy-bottom-4 {
  padding-bottom: 4px !important; }

.paddy-h-4 {
  padding-left: 4px !important;
  padding-right: 4px !important; }

.paddy-v-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.margy-top-4 {
  margin-top: 4px !important; }

.margy-bottom-4 {
  margin-bottom: 4px !important; }

.margy-h-4 {
  margin-left: 4px !important;
  margin-right: 4px !important; }

.margy-v-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.paddy-4 {
  padding: 4px !important; }

.margy-4 {
  margin: 4px !important; }

.paddy-top-5 {
  padding-top: 5px !important; }

.paddy-bottom-5 {
  padding-bottom: 5px !important; }

.paddy-h-5 {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.paddy-v-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.margy-top-5 {
  margin-top: 5px !important; }

.margy-bottom-5 {
  margin-bottom: 5px !important; }

.margy-h-5 {
  margin-left: 5px !important;
  margin-right: 5px !important; }

.margy-v-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.paddy-5 {
  padding: 5px !important; }

.margy-5 {
  margin: 5px !important; }

.paddy-top-6 {
  padding-top: 6px !important; }

.paddy-bottom-6 {
  padding-bottom: 6px !important; }

.paddy-h-6 {
  padding-left: 6px !important;
  padding-right: 6px !important; }

.paddy-v-6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important; }

.margy-top-6 {
  margin-top: 6px !important; }

.margy-bottom-6 {
  margin-bottom: 6px !important; }

.margy-h-6 {
  margin-left: 6px !important;
  margin-right: 6px !important; }

.margy-v-6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important; }

.paddy-6 {
  padding: 6px !important; }

.margy-6 {
  margin: 6px !important; }

.paddy-top-7 {
  padding-top: 7px !important; }

.paddy-bottom-7 {
  padding-bottom: 7px !important; }

.paddy-h-7 {
  padding-left: 7px !important;
  padding-right: 7px !important; }

.paddy-v-7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important; }

.margy-top-7 {
  margin-top: 7px !important; }

.margy-bottom-7 {
  margin-bottom: 7px !important; }

.margy-h-7 {
  margin-left: 7px !important;
  margin-right: 7px !important; }

.margy-v-7 {
  margin-top: 7px !important;
  margin-bottom: 7px !important; }

.paddy-7 {
  padding: 7px !important; }

.margy-7 {
  margin: 7px !important; }

.paddy-top-8 {
  padding-top: 8px !important; }

.paddy-bottom-8 {
  padding-bottom: 8px !important; }

.paddy-h-8 {
  padding-left: 8px !important;
  padding-right: 8px !important; }

.paddy-v-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.margy-top-8 {
  margin-top: 8px !important; }

.margy-bottom-8 {
  margin-bottom: 8px !important; }

.margy-h-8 {
  margin-left: 8px !important;
  margin-right: 8px !important; }

.margy-v-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.paddy-8 {
  padding: 8px !important; }

.margy-8 {
  margin: 8px !important; }

.paddy-top-9 {
  padding-top: 9px !important; }

.paddy-bottom-9 {
  padding-bottom: 9px !important; }

.paddy-h-9 {
  padding-left: 9px !important;
  padding-right: 9px !important; }

.paddy-v-9 {
  padding-top: 9px !important;
  padding-bottom: 9px !important; }

.margy-top-9 {
  margin-top: 9px !important; }

.margy-bottom-9 {
  margin-bottom: 9px !important; }

.margy-h-9 {
  margin-left: 9px !important;
  margin-right: 9px !important; }

.margy-v-9 {
  margin-top: 9px !important;
  margin-bottom: 9px !important; }

.paddy-9 {
  padding: 9px !important; }

.margy-9 {
  margin: 9px !important; }

.paddy-top-10 {
  padding-top: 10px !important; }

.paddy-bottom-10 {
  padding-bottom: 10px !important; }

.paddy-h-10 {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.paddy-v-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.margy-top-10 {
  margin-top: 10px !important; }

.margy-bottom-10 {
  margin-bottom: 10px !important; }

.margy-h-10 {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.margy-v-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.paddy-10 {
  padding: 10px !important; }

.margy-10 {
  margin: 10px !important; }

.paddy-top-11 {
  padding-top: 11px !important; }

.paddy-bottom-11 {
  padding-bottom: 11px !important; }

.paddy-h-11 {
  padding-left: 11px !important;
  padding-right: 11px !important; }

.paddy-v-11 {
  padding-top: 11px !important;
  padding-bottom: 11px !important; }

.margy-top-11 {
  margin-top: 11px !important; }

.margy-bottom-11 {
  margin-bottom: 11px !important; }

.margy-h-11 {
  margin-left: 11px !important;
  margin-right: 11px !important; }

.margy-v-11 {
  margin-top: 11px !important;
  margin-bottom: 11px !important; }

.paddy-11 {
  padding: 11px !important; }

.margy-11 {
  margin: 11px !important; }

.paddy-top-12 {
  padding-top: 12px !important; }

.paddy-bottom-12 {
  padding-bottom: 12px !important; }

.paddy-h-12 {
  padding-left: 12px !important;
  padding-right: 12px !important; }

.paddy-v-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

.margy-top-12 {
  margin-top: 12px !important; }

.margy-bottom-12 {
  margin-bottom: 12px !important; }

.margy-h-12 {
  margin-left: 12px !important;
  margin-right: 12px !important; }

.margy-v-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

.paddy-12 {
  padding: 12px !important; }

.margy-12 {
  margin: 12px !important; }

.paddy-top-13 {
  padding-top: 13px !important; }

.paddy-bottom-13 {
  padding-bottom: 13px !important; }

.paddy-h-13 {
  padding-left: 13px !important;
  padding-right: 13px !important; }

.paddy-v-13 {
  padding-top: 13px !important;
  padding-bottom: 13px !important; }

.margy-top-13 {
  margin-top: 13px !important; }

.margy-bottom-13 {
  margin-bottom: 13px !important; }

.margy-h-13 {
  margin-left: 13px !important;
  margin-right: 13px !important; }

.margy-v-13 {
  margin-top: 13px !important;
  margin-bottom: 13px !important; }

.paddy-13 {
  padding: 13px !important; }

.margy-13 {
  margin: 13px !important; }

.paddy-top-14 {
  padding-top: 14px !important; }

.paddy-bottom-14 {
  padding-bottom: 14px !important; }

.paddy-h-14 {
  padding-left: 14px !important;
  padding-right: 14px !important; }

.paddy-v-14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important; }

.margy-top-14 {
  margin-top: 14px !important; }

.margy-bottom-14 {
  margin-bottom: 14px !important; }

.margy-h-14 {
  margin-left: 14px !important;
  margin-right: 14px !important; }

.margy-v-14 {
  margin-top: 14px !important;
  margin-bottom: 14px !important; }

.paddy-14 {
  padding: 14px !important; }

.margy-14 {
  margin: 14px !important; }

.paddy-top-15 {
  padding-top: 15px !important; }

.paddy-bottom-15 {
  padding-bottom: 15px !important; }

.paddy-h-15 {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.paddy-v-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.margy-top-15 {
  margin-top: 15px !important; }

.margy-bottom-15 {
  margin-bottom: 15px !important; }

.margy-h-15 {
  margin-left: 15px !important;
  margin-right: 15px !important; }

.margy-v-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.paddy-15 {
  padding: 15px !important; }

.margy-15 {
  margin: 15px !important; }

.paddy-top-16 {
  padding-top: 16px !important; }

.paddy-bottom-16 {
  padding-bottom: 16px !important; }

.paddy-h-16 {
  padding-left: 16px !important;
  padding-right: 16px !important; }

.paddy-v-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.margy-top-16 {
  margin-top: 16px !important; }

.margy-bottom-16 {
  margin-bottom: 16px !important; }

.margy-h-16 {
  margin-left: 16px !important;
  margin-right: 16px !important; }

.margy-v-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.paddy-16 {
  padding: 16px !important; }

.margy-16 {
  margin: 16px !important; }

.paddy-top-17 {
  padding-top: 17px !important; }

.paddy-bottom-17 {
  padding-bottom: 17px !important; }

.paddy-h-17 {
  padding-left: 17px !important;
  padding-right: 17px !important; }

.paddy-v-17 {
  padding-top: 17px !important;
  padding-bottom: 17px !important; }

.margy-top-17 {
  margin-top: 17px !important; }

.margy-bottom-17 {
  margin-bottom: 17px !important; }

.margy-h-17 {
  margin-left: 17px !important;
  margin-right: 17px !important; }

.margy-v-17 {
  margin-top: 17px !important;
  margin-bottom: 17px !important; }

.paddy-17 {
  padding: 17px !important; }

.margy-17 {
  margin: 17px !important; }

.paddy-top-18 {
  padding-top: 18px !important; }

.paddy-bottom-18 {
  padding-bottom: 18px !important; }

.paddy-h-18 {
  padding-left: 18px !important;
  padding-right: 18px !important; }

.paddy-v-18 {
  padding-top: 18px !important;
  padding-bottom: 18px !important; }

.margy-top-18 {
  margin-top: 18px !important; }

.margy-bottom-18 {
  margin-bottom: 18px !important; }

.margy-h-18 {
  margin-left: 18px !important;
  margin-right: 18px !important; }

.margy-v-18 {
  margin-top: 18px !important;
  margin-bottom: 18px !important; }

.paddy-18 {
  padding: 18px !important; }

.margy-18 {
  margin: 18px !important; }

.paddy-top-19 {
  padding-top: 19px !important; }

.paddy-bottom-19 {
  padding-bottom: 19px !important; }

.paddy-h-19 {
  padding-left: 19px !important;
  padding-right: 19px !important; }

.paddy-v-19 {
  padding-top: 19px !important;
  padding-bottom: 19px !important; }

.margy-top-19 {
  margin-top: 19px !important; }

.margy-bottom-19 {
  margin-bottom: 19px !important; }

.margy-h-19 {
  margin-left: 19px !important;
  margin-right: 19px !important; }

.margy-v-19 {
  margin-top: 19px !important;
  margin-bottom: 19px !important; }

.paddy-19 {
  padding: 19px !important; }

.margy-19 {
  margin: 19px !important; }

.paddy-top-20 {
  padding-top: 20px !important; }

.paddy-bottom-20 {
  padding-bottom: 20px !important; }

.paddy-h-20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.paddy-v-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.margy-top-20 {
  margin-top: 20px !important; }

.margy-bottom-20 {
  margin-bottom: 20px !important; }

.margy-h-20 {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.margy-v-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.paddy-20 {
  padding: 20px !important; }

.margy-20 {
  margin: 20px !important; }

.paddy-none {
  padding: 0; }

.margy-none {
  margin: 0 !important; }

a {
  text-decoration: none !important; }

.example-card {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 10px; }
  .example-card div {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); }
  .example-card img {
    width: 100%;
    height: 100%; }

header {
  height: 400px;
  margin-top: -20px;
  margin-left: -15px;
  margin-right: -15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

/*# sourceMappingURL=main.css.map */
