h1 Lista ToDo
form.form-inline
    .form-group
        input#exampleInputName2.form-control(type='text', ng-model="newItem", placeholder='ToDo thing')
    button.btn.btn-default(type='submit', ng-click="add(newItem)") Add

p(ng-repeat="x in list") {{ x }}