doctype html
html(ng-app='app')
    head(lang='es')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='')
        meta(name='author', content='Roger Fos Soler')
        title Boilerplate Angular Gulp!

        //- vendor:css
        link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="../bower_components/font-awesome/css/font-awesome.css")
        link(rel="stylesheet", href="../bower_components/animate.css/animate.css")
        link(rel="stylesheet", href="../bower_components/hover/css/hover.css")
        //- endinject

        //- app:css
        link(rel="stylesheet", href="styles/main.css")
        //- endinject

        //- modules:css
        //- endinject

    body

        .navbar.navbar-inverse.navbar-static-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href, ui-sref='home')
                        i.fa.fa-bolt
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(ui-sref-active="active")
                            a(ui-sref='home') Home
                        li(ui-sref-active="active")
                            a(ui-sref='foods') Foods
                        li(ui-sref-active="active")
                            a(ui-sref='bootsdoc') Bootstrap
        .container-fluid(ui-view)


        //- vendor:js
        script(src="../bower_components/jquery/dist/jquery.js")
        script(src="../bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="../bower_components/angular/angular.js")
        script(src="../bower_components/angular-animate/angular-animate.js")
        script(src="../bower_components/underscore/underscore.js")
        script(src="../bower_components/a0-angular-storage/dist/angular-storage.js")
        script(src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
        script(src="../bower_components/angular-ui-router/release/angular-ui-router.js")
        //- endinject

        //- modules:js
        script(src="modules/ToDo/module.js")
        script(src="modules/ToDo/page/controller.js")
        script(src="modules/ToDo/routes.js")
        //- endinject

        //- app:js
        script(src="module.js")
        script(src="pages/bootsdoc/Bootsdoc.controller.js")
        script(src="pages/foods/Foods.controller.js")
        script(src="pages/home/Home.controller.js")
        script(src="pages/foods/detail/FoodsDetail.controller.js")
        script(src="routes.js")
        //- endinject