ui-view
    .page-header
        h1 Foods example
    .row.text-center
        .example-card(ng-repeat="food in foods track by $index", style="animation-delay: {{$index * 70}}ms").animated.flipInY
            a(href, ui-sref=".detail({id:$index})").hvr-grow-shadow
                div.text-center.paddy-v-10.bold {{ food }}
                img(ng-src="http://lorempixel.com/200/200/food/{{ $index+1 }}")